<!--
@license
Copyright 2016 The TensorFlow Authors. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
  Load dashboards into UI for all first-party TensorBoard plugins.

  Each dashboard calls the registerDashboard() function to tell
  <tf-tensorboard> that it exists, so it can be loaded dynamically via
  document.createElement().

  Ordering matters. The order in which these lines appear determines the
  ordering of tabs in TensorBoard's GUI.
-->
<link rel="import" href="../tf-scalar-dashboard/tf-scalar-dashboard.html">
<!-- <link rel="import" href="../tf-image-dashboard/tf-image-dashboard.html">
<link rel="import" href="../tf-audio-dashboard/tf-audio-dashboard.html"> -->
<link rel="import" href="../tf-graph-dashboard/tf-graph-dashboard.html">
<!-- <link rel="import" href="../tf-distribution-dashboard/tf-distribution-dashboard.html">
<link rel="import" href="../tf-histogram-dashboard/tf-histogram-dashboard.html">
<link rel="import" href="../vz-projector/vz-projector-dashboard.html">
<link rel="import" href="../tf-text-dashboard/tf-text-dashboard.html">
<link rel="import" href="../tf-pr-curve-dashboard/tf-pr-curve-dashboard.html">
<link rel="import" href="../tf-profile-dashboard/tf-profile-dashboard.html"> -->
