<!--
@license
Copyright 2016 The TensorFlow Authors. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="scrollbar-style.html">
<link rel="import" href="tensorboard-color.html">

<!--
Generic layout for a dashboard.
-->
<dom-module id="tf-dashboard-layout">
  <template>
    <!-- <div id="sidebar">
      THIS WILL DISPLAY THE SIDEBAR IN THE TENSORBOARD PAGE
      <content select=".sidebar"></content>
    </div> -->

    <div id="center" class="scrollbar">
      <content select=".center"></content>
    </div>
    <style include="scrollbar-style"></style>
    <style>
      #sidebar {
        width: inherit;
        height: 100%;
        overflow: ellipsis;
        flex-grow: 0;
        flex-shrink: 0;
      }

      #center {
        height: 100%;
        overflow-y: auto;
        flex-grow: 1;
        flex-shrink: 1;
      }

      .tf-graph-dashboard #center {
        background: white;
      }

      :host {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    </style>
  </template>
  <script>
    Polymer({
      is: "tf-dashboard-layout",
    });
  </script>
</dom-module>
